@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.btn-common{
    background: #E76F51;

}
header{
    background: #264653;
}
.feature p{
    color: #ED5731;
}
.feature-img{
    width: 285px;
    height: 240;
    filter: grayscale(100%);
}
/* Latest Bikes section  */
.btn1{
    background-color:#ED5731 ;
}
/* .btn2{
    color:#ED5731;
    outline-color: #ED5731;

} */
/* happy section part  */
.happy-img{
    width: 150px;
    height: 150px;
}
.icon-star{
    color: #E76F51;

}
/* frequently ask question part  */
.frequently-img{
    width:430px;
    height: 423px;
}